supervisor

# Storage.
redis
sqlalchemy

# Communicate with btcd websocket server.
websocket-client

# For the API server.
klein
treq

# Define JSON schemas and validate returned data (optional).
jsonschema
